html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

.wrapper {
  max-width: 1350px;
  width: 85%;
  margin: 0 auto;
}

.nav {
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: #b8e7f5;
  align-items: center;
  margin-right: 10%;
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  gap: 20px;
}
.intro-container {
  height: 100vh;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: 75%;
  gap: 3rem;
}

.intro-text {
  min-height: 20vh;
  width: 50%;
  font-size: 21px;
}

.intro-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  height: 200px;
}

.toolkit {
}
.toolkit-title {
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15%;
  gap: 2rem;
}

.skill-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  height: 100px;
  flex: 0 1 100px;
}

.skill-image {
}

.skill-name {
  text-align: center;
}

.projects {
}

.projectComponent {
  display: flex;
  flex-direction: column;
  width: 500px;
  button {
    width: 80px;
    margin: 0 10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}

.footer img{
  height: 50px;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  display: flex;
  
}

.bottomBar {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.svg {
  height: 50px;
  path {
    fill: black;
  }
}
.headerText {
  color: #45a4bf;
  position: relative;
  width: 50%;
}
.headerText::after {
  content: "";
  position: absolute;
  background-color: #b8e7f5;
  -webkit-box-shadow: 0 0 8px #b8e7f5;
  box-shadow: 0 0 8px #b8e7f5;
  height: 25px;
  left: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

