:root {
  --main-color: #45a4bf;
  --secondary-color: #fcba04;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* Small screens (up to 600px) */
@media (max-width: 600px) {
  .wrapper {
    max-width: 100%;
  }
}

/* Medium screens (600px to 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .wrapper {
    max-width: 90%;
  }
}

/* Large screens (900px to 1200px) */
@media (min-width: 900px) and (max-width: 1200px) {
  .wrapper {
    max-width: 85%;
  }
}

/* Extra-large screens (1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1650px;
  }
  .skills {
    padding: 0 15%;
  }
}

.intro-container {
  height: 80vh;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 3rem;
  /* transform: translateY(100px); */
  /* opacity: 0; */
  /* animation: intro-container 2s 1 forwards; */
}

@media only screen and (max-width: 768px) {
  .intro-container {
    display: flex;
    flex-direction: column;
  }
  .intro-container .intro-text {
    width: auto;
  }
}

.intro-text {
  min-height: 20vh;
  width: 50%;
  font-size: 21px;
}

.intro-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  height: 200px;
  opacity: 0;
  animation: opacity 1.5s ease-out forwards;
}

.toolkit-title {
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: calc(100px * 8 + 7rem);
  margin: 0 auto;
}

.skill-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  height: 100px;
  flex: 0 1 100px;
  width: 100px;
}

.skill-name {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}

.footer img {
  height: 50px;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  display: flex;
  padding-left: 0;
}

.bottomBar {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.svg {
  height: 50px;
  transition: height 0.3s ease;
}

.svg:hover {
  height: 60px;
}
.headerText {
  color: #45a4bf;
  position: relative;
  width: 50%;
  opacity: 0;
  animation: opacity 1.5s ease-out forwards;
}
.headerText::after {
  content: "";
  position: absolute;
  background-color: #b8e7f5;
  -webkit-box-shadow: 0 0 8px #b8e7f5;
  box-shadow: 0 0 8px #b8e7f5;
  height: 25px;
  left: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.button {
  padding: 15px;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: #45a4bf;
  border: solid 2px transparent;
  border-color: #45a4bf;
  font-size: 1.2rem;
  color: white;
  margin: 0 10px;
  cursor: pointer;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

/* @keyframes intro-container {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

.down-arrow {
  display: flex;
  justify-content: center;
}

.title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
  padding: 20px;
}
@media (max-width: 768px) {
  .projectCards {
    grid-template-columns: 1fr;
  }
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--secondary-color);
}
