:root {
  --main-color: #45a4bf;
  --secondary-color: #fcba04;
  --main-alt: #b8e7f5;
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #3e3e3e;
  --text-color-dark: #ffffff;
}
.light-mode {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
a {
  cursor: pointer;
}

/* Small screens (up to 600px) */
@media (max-width: 600px) {
  .wrapper {
    max-width: 100%;
  }
}

/* Medium screens (600px to 900px) */
@media (min-width: 600px) and (max-width: 900px) {
  .wrapper {
    max-width: 95%;
    margin: 0 30px;
  }
}

/* Large screens (900px to 1200px) */
@media (min-width: 900px) and (max-width: 1200px) {
  .wrapper {
    max-width: 85%;
  }
}

/* Extra-large screens (1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1650px;
  }
  .skills {
    padding: 0 15%;
  }
}

.toolkit-title {
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: calc(120px * 8 + 7rem);
  margin: 0 auto;
}

.skill-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  height: 100px;
  flex: 0 1 100px;
  width: 120px;
}

.skill-name {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
}

.footer img {
  height: 50px;
}

.contactLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  display: flex;
  padding-left: 0;
}

.bottomBar {
  color: white;
  background-color: black;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

.svg {
  height: 50px;
  transition: height 0.3s ease;
}

.svg:hover {
  height: 60px;
}

.button {
  padding: 15px;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: #45a4bf;
  border: solid 2px transparent;
  border-color: #45a4bf;
  font-size: 1.2rem;
  color: white;
  margin: 0 10px;
  cursor: pointer;
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}

/* @keyframes intro-container {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
} */

.title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 20px;
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
}
@media (max-width: 768px) {
  .projectCards {
    grid-template-columns: 1fr;
  }
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--secondary-color);
}
