.projectComponent {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: max-height 0.5s ease-in-out, transform 0.2s, box-shadow 0.2s;
  min-height: 350px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.projectComponent.dark {
  background-color: var(--bg-color-dark);
  border: 1px solid #313131;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.projectComponent.expanded {
  max-height: 1500px;
}

.skill-image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.projectTitle {
  color: var(--main-color);
  font-weight: bold;
  font-size: 2.6rem;
  margin: 10px 0;
}

.projectTags {
  color: #777;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-weight: "bold";
}

.projectLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}
.projectLinks.dark {
  background: rgba(62, 62, 62, 0.9);
}

.projectTextContainer {
  margin-bottom: 60px;
  font-size: 22px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.expandButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  animation: bobbing 1.5s infinite;
  transform-origin: center;
  transition: transform 0.3s;
  width: 100%;
}

.expandButton.dark {
  color: white;
}

.expandButton.collapsed {
  transform: rotate(0deg);
}

.expandButton.expanded {
  transform: rotate(180deg);
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
